SHOPIFY_SHOP=pawvida-6
SHOPIFY_API_VERSION=2026-07
SHOPIFY_CLIENT_ID=PASTE_IN_HOST_SECRET_SETTINGS
SHOPIFY_CLIENT_SECRET=PASTE_IN_HOST_SECRET_SETTINGS
SOUTHERN_STOCK_URL=https://www.agline.com/stock-level-csv/
SOUTHERN_GTIN_URL=https://www.southernpetsupplies.com.au/resources/product-barcode-gtin-list/
DRY_RUN=true
